/* @font-face {
  font-family: 'AnonymousPro-Bold';
  src: url('../src/fonts/AnonymousPro-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: 'MontserratAlternates-Light';
  src: url('../src/fonts/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MontserratAlternates-Medium';
  src: url('../src/fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.btn {
  border: 2px solid #808080;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "MontserratAlternates-Medium";
  font-size: 12px;
  height: 30px;
  min-width: 130px;
  transition: .3s;
  backdrop-filter: blur(6px);
  background: hsl(0 0% 100% / 0.1);
}
@media (hover: hover){
  .btn:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #000;
}
}
