/* @font-face {
  font-family: 'AnonymousPro-Bold';
  src: url('../src/fonts/AnonymousPro-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: 'MontserratAlternates-Light';
  src: url('../src/fonts/MontserratAlternates-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'MontserratAlternates-Medium';
  src: url('../src/fonts/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
